<form class="game-form" (ngSubmit)="onSubmit()">
    <h2>Wieviel ist {{faktor1}} * {{faktor2}}</h2>

    <div>
        <div>
            <label for="produktEingabe">Ergebnis</label>
            <input id="produktEingabe"
                   [(ngModel)]="produktEingabe" name="produktEingabe" placeholder="0">
        </div>
    </div>

    <div>
        <button type="submit">Prüfe Ergebnis</button>
    </div>

    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>

</form>
