<form class="game-form" (ngSubmit)="onSubmit()" #gameForm="ngForm">
    <h2>Wieviel ist {{faktor1}} * {{faktor2}}</h2>

    <div>
        <div>
            <label for="produktEingabe">Ergebnis</label>
            <input id="produktEingabe"
                   [(ngModel)]="produktEingabe" name="produktEingabe" placeholder="0">
        </div>
    </div>

    <div>
        <button class="btn btn-outline-danger" type="submit">Prüfe Ergebnis</button>
    </div>

    <div *ngIf="isCorrect" class="alert alert-primary" role="alert" >
        Korrekt
    </div>

    <div *ngIf="!isCorrect && gameForm.touched"  class="alert alert-primary" role="alert">
        Falsch
    </div>

</form>
