<mat-toolbar color="primary">Erstes Spiel</mat-toolbar>
<form class="game-form" (ngSubmit)="onSubmit()">
    <h2>Wieviel ist {{faktor1}} * {{faktor2}}</h2>

    <div>
        <mat-form-field>
            <mat-label for="produktEingabe">Ergebnis</mat-label>
            <input [(ngModel)]="produktEingabe" name="produktEingabe" matInput placeholder="0">
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button color="primary" type="submit">Prüfe Ergebnis</button>
    </div>

</form>
