$theme-colors: (
        "primary": #0074d9,
        "danger": #ff4136
);

.text-style-code {
  background: lightgrey;
  padding: 2px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
