$theme-colors: (
        "primary": #0074d9,
        "danger": #ff4136
);

@import "node_modules/bootstrap/scss/bootstrap";


.text-style-code {
  font-family: Consolas;
  background: lightgrey;
  padding: 2px;
}
